section#devise
  .row
    .small-12.medium-5.large-4.medium-centered.columns
      .form-box
        .logo
          h1.text-center
            i.fa.fa-check-circle
          h2.subheader.text-center Taskitron
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          = f.email_field :email, placeholder: "Email", autofocus: true
          = f.password_field :password, placeholder: "Password"
          = f.password_field :password_confirmation, placeholder: "Confirm Password"
          = f.submit 'Sign Up'