.tasks
  - tasks.group_by { |t| t.created_at.to_date }.each do |date, tasks|
    h3.task-group-heading
      = date.strftime('%b %d %Y')
      ul.tasks.no-bullet
        - tasks.each do |task|
          - cache(task) do
            li= render partial: 'tasks/show', locals: { task: task }