.task class="#{task.completed? ? '' : 'started'}" data-elapsed-time="#{task.elapsed_time}"
  .header
    - if task.completed?
      h6.subheader.right= format_elapsed_time(task.elapsed_time)
      .clearfix
    h5.name= style_name(task)
  .footer
    ul.inline-list.right
      - if task.completed?
        li
          = link_to start_task_path(task), method: :post, class: "start" do
            i.fa.fa-play-circle&nbsp;Start
      - else
        li
          = link_to stop_task_path(task), method: :post, class: "stop" do
            i.fa.fa-stop&nbsp;Stop
      li
        = link_to task, method: :delete do
          i.fa.fa-trash-o&nbsp;Delete
    .clearfix
