.row
  .small-12.large-6.large-offset-3.columns
    = form_for @task do |f|
      #new-task-content contenteditable="true" data-placeholder="Start something new"
      = f.text_area :name, class: "hide"
      = f.submit "Start", class: "button small right radius"
      .clearfix

    = render partial: 'tasks/index', locals: { tasks: @tasks }

    = will_paginate @tasks, page_links: false, next_label: "Older", previous_label: "Newer", class: "pagination-centered"