section#hero
  .row
    .medium-7.large-6.columns
      h1 Taskitron
      h3
        | The best way to
        br.hide-for-small
        |  track your time
      br

  .row
    .medium-6.large-4.columns
      = link_to 'Get Started', sign_up_path, class: 'large button radius hide-for-small'
      = link_to 'Get Started', sign_up_path, class: 'small button show-for-small'

  .screenshot
    = image_tag asset_path('desktop.png'), data: { interchange: "[#{asset_path('mobile.png')}, (default)], [#{asset_path('tablet.png')}, (medium)], [#{asset_path('desktop.png')}, (large)]" }

section#main
  .row.text-center
    .medium-4.columns
      i.fa.fa-play-circle-o
      h4 Create
      p
        |
          Some things take longer than a
          pomodoro.
          Start and pause tasks until they're
          totally done.
    .medium-4.columns
      i.fa.fa-tags
      h4 Organize
      p
        |
          Use hashtags to keep track of which
          time is going to which project.
          View your tasks by day and by tag.

    .medium-4.columns
      i.fa.fa-bar-chart-o
      h4 Analyze
      p
        |
          View your total time by tag and
          by day.

