.row
  .small-12.large-6.large-centered.columns
    h2= "##{tag.name}"
    dl.sub-nav
      dd class="#{params[:day] ? '' : 'active'}"= link_to 'All Time', name_tags_path(tag.name)
      - @tag.days.each do |day|
        dd class="#{day.to_s == params[:day].to_s ? 'active' : ''}"= link_to day.strftime('%b %d %Y'), day_tags_path(tag.name, day)
    h3.subheader= format_elapsed_time(elapsed_time)
    .tasks
      = render partial: 'tasks/index', locals: { tasks: tasks }