section#devise
  .row
    .small-12.medium-5.large-4.medium-centered.columns
      .form-box
        .logo
          h1.text-center
            i.fa.fa-check-circle
          h2.subheader.text-center Taskitron
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, autofocus: true, placeholder: "Email"
          = f.password_field :password, placeholder: "Password"
          - if devise_mapping.rememberable?
            = f.check_box :remember_me, checked: true, class: 'hide'
          = f.submit 'Submit'