.form-box {
  border-radius: 3px;
  border: solid 1px #eee;
  padding: 20px;
  background-image: linear-gradient(to bottom, #FDFDFD 0%, #FFFFFF 100%);

  h1 {
    height: 100px;
    i {
      font-size: 100px;
      color: #00A1CB;
    }
  }

  .logo {
    margin-bottom: 30px;
  }

  input[type='submit'] {
    visibility: hidden;
    position: absolute;
    height: 0px !important;
    width: 0px !important;
  }
}
