i {
  font-style: normal;
}

input[type="text"], textarea {
  -webkit-appearance: none;
}

.full-width {
  width: 100%;
}

#new_task {
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;
}

#new-task-content {
  padding: 5px;
  min-height: 75px;
  overflow: visible;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  outline: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  font-size: 14px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  &:focus {
    background-color: #fafafa;
    -webkit-box-shadow: 0 0 3px #999;
    -moz-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
  }
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
  content: attr(data-placeholder);
  float: left;
  margin-left: 2px;
  color: #b3b3b3;
}

.task {
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 5px;

  .header {
    .name, .subheader {
      margin-top: 0;
    }
  }

  .footer {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin-left: 0.375em;
        i {
          color: #eee;
          font-size: 12px;
        }
      }
    }
  }

  &:hover {
    background-color: #fafafa;
    .footer {
      i {
        color: inherit;
      }
    }
  }

  &.started {
    border: 1px solid #008CBA;
    background-color: #fafafa;
    -webkit-animation: pulse-border 1.5s infinite;
    -moz-animation: pulse-border 1.5s infinite;
    animation: pulse-border 1.5s infinite;
    .footer {
      i {
        color: inherit;
      }
    }
  }
}

@-webkit-keyframes pulse-border {
  0%   { border-color: rgba(0,140,186, 1); }
  50%  { border-color: rgba(0,140,186, 0); }
  100% { border-color: rgba(0,140,186, 1); }
}

.typeahead {
  border: 1px solid #ccc;
  z-index: 2;
  width: 94%;

  li:hover {
    background-color: #008CBA;
    a {
      color: #fff;
    }
  }
}

.highlight{
  color: #008CBA;
}