#hero {
  background: url(<%= asset_path('stardust.png') %>);
  padding: 100px 20px 0 20px;
  height: 500px;
  position: relative;
  overflow: hidden;

  h1, h3 {
    color: #fff;
  }

  h1 {
    font-size: 4em;
    font-weight: 500;
  }

  .screenshot {
    img {
      position: absolute;

      @media only screen {
        width: 90%;
        right: 15px;
        top: 350px;
      }

      @media only screen and (min-width: 40.063em) {
        width: 50%;
        right: 5px;
        top: 130px;
      }

      @media only screen and (min-width: 64.063em) {
        right: 100px;
        top: 100px;
        width: 50%;
      }
    }
  }
}

#main {
  padding-top: 40px;

  i {
    font-size: 150px;
    color: #008CBA;
  }
}