doctype html
html
  head
    title Taskitron
    = stylesheet_link_tag "application", "data-turbolinks-track" => true
    link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"
    meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"
    = csrf_meta_tags
  body
    nav.top-bar data-topbar=""
      ul.title-area
        li.name
          h1
            a href="/" Taskitron
        li.toggle-topbar.menu-icon
          a href="#"
            span
      section.top-bar-section
        ul.right
          - if current_user
            li= link_to "Tags", tags_path
            li= link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            li= link_to "Sign In", sign_in_path
            li= link_to "Sign Up", sign_up_path

    .row
      .small-12.columns
        .row
          .small-12.large-6.large-centered.columns
            p.alert.text-center= alert
        == yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
